<h1>Admin Dashboard</h1>
<p>Welcome, Admin!</p>
<ul>
  <li><%= link_to 'Manage Products', admin_products_path %></li>
  <li><%= link_to 'Manage Orders', orders_path %></li>
  <li><%= link_to 'Manage Categories', categories_path %></li>
</ul>
